$primary-color-dark: hsl(192, 100%, 9%);
$primary-color-light: hsl(193, 100%, 96%);
$secondary-color-1: hsl(322, 100%, 66%);
$secondary-color-2: hsl(208, 11%, 55%);


////////
$primary-font-size: 1.8rem;
$secondary-font-size: 1.2rem;

////header
$font-weight-2: 600;

//////body 
$font-weight-1: 400;
$font-weight-3: 700;


/////// 
$font-fam-1: 'Open Sans', sans-serif;
$font-fam-2: 'Poppins', sans-serif;